@import './../../variables';

#more-page {
    @include default-part-width;
    text-align: left;

    .more-paragraph {
        @include default-paragraph;
    }

    p:first-child {
        margin: 0 0 8px 0;
    }
}