#user-navbar-tabs {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 8px;
    
    img {
        width: 32px;
    }

    .user-navbar-social-button-last {
        margin-right: 16px;
    }

    .user-navbar-cart-icon {
        margin-left: 8px;
    }

    .user-navbar-words {
        font-size: 16px;
        padding: 4px 8px;
    }

    button {
        background-color: #84B3FF;
        border-radius: 8px;
        border: 1px solid rgb(107, 159, 243)
    }
}