@import './../../variables';

#user-navbar-tabs {
    @include default-full-width;
    justify-content: flex-end;
    margin: 8px;
    
    .user-navbar-image-button {
        width: 32px;
    }

    .user-navbar-social-button-last {
        margin-right: 16px;
    }

    .user-navbar-cart-icon {
        margin: 0 16px;
    }

    button {
        @include default-rounded-button;
    }
}