@import './../../variables';

#contact-page {
    @include default-part-width;

    .contact-header {
        margin-bottom: 32px;
    }

    .contact-section-divide {
        margin: 8px 0;
    }

    .contact-section {
        margin-bottom: 32px;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
    }
}