@import './../../variables';

#home-page {
    @include default-part-width;

    > .home-carousel {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 450px;
    }

    .carousel {
        display: flex;
        justify-content: center;

    }
}