@import './../../variables';

#page-header {
    @include default-part-width;
    width: 25%;
    background-image: url('./../../assets/images/Logo/logo-white-box.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 280px;
    background-color: $default-cobalt;
    font-family: $logo-font;
    font-size: 48px;
    padding: 96px;
}