#page-header {
    width: 85%;
    padding: 96px;
    font-size: 48px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-image: url('./../../assets/images/picture.jpg');
}