@import './../../variables';

#route-navbar-tabs {
    @include default-full-width;
    border-bottom: $border-break;
    margin-bottom: 16px;
    
    .route-navbar-tab {
        font-size: 20px;
        padding: 16px;
    }
}