@import './../../variables';

#route-navbar-tabs {
    @include default-full-width;
    border-bottom: $border-break;
    margin-bottom: 16px;
    
    .route-navbar-tab {
        @include font-bold;
        font-size: 16px;
        text-transform: uppercase;
        padding: 16px;
    }

    .route-navbar-tab:hover {
        @include hover;
    }
}