$default-cobalt: #84B3FF;
$cobalt: #66A0FF;
$border-break: 1px solid #CCC;
$logo-color: #FFFFFF;
$logo-font: 'Times New Roman', Times, serif;

%hover {
    opacity: .6;
    cursor: pointer;
}

@mixin hover {
    @extend %hover;
}

%font {
    font-family: 'Manjari', sans-serif;
    font-weight: 400;
}

@mixin font {
    @extend %font;
}

@mixin font-bold {
    @extend %font;
    font-weight: 700;
}

@mixin font-light {
    @extend %font;
    font-weight: 100;
}

%default-button {
    background-color: $default-cobalt;
    border: 1px solid $cobalt;
    font-size: 14px;
    padding: 2px 10px;
}

@mixin default-button {
    @extend %default-button;
}

@mixin default-rounded-button {
    @extend %default-button;
    border-radius: 8px;
}

%default-paragraph {
    font-size: inherit;
    margin: 8px 0;
    width: 100%;
}

@mixin default-paragraph {
    @extend %default-paragraph;
}

%default-full-width {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

@mixin default-full-width {
    @extend %default-full-width;
}

%default-part-width {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 85%;
}

@mixin default-part-width {
    @extend %default-part-width;
}