.App {
  height: 100vh;
  background: linear-gradient(180deg, rgb(235, 235, 235) 0%, rgb(255, 255, 255) 100%);

  .not-supported {
    display: none;
  }
  #page-root {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

@media (max-width: 220px) {
  .App {
    .not-supported {
      display: flex;
    }

    #page-root {
      display: none;
    }
  }
}